<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Status Web Placeholder</title>
  </head>
  <body>
    <h1>Service Status Dashboard</h1>
	<p>Status-Web: {% if status_up %}<span style="color:green;">UP</span>{% else %}<span style="color:red;">DOWN</span>{% endif %}</p>
	<p>Adminer: {% if adminer_up %}<span style="color:green;">UP</span>{% else %}<span style="color:red;">DOWN</span>{% endif %}</p>
	<p>Database: {% if db_up %}<span style="color:green;">UP</span>{% else %}<span style="color:red;">DOWN</span>{% endif %}</p>
	<meta http-equiv="refresh" content="10">

  </body>
</html>
